{% extends 'registration/layout_login.html' %}
{% load widget_tweaks %}
{% load static %}
{% block access %}
<div class="col-12 col-md-3 p-0 my-auto" >
	<div class="card shadow pt-3">
	{% comment %} {% include 'accounts/header_logo.html' %} {% endcomment %}
		<div class="card-body">
		    <div class="font-weight-bolder text-left">
				<div class="text-muted small">Não possui conta ?</div>
				<a href="/" class="font-italic text-success">
					Cadastre-se aqui</a>
		    </div>
		    <div class="mt-3 text-post">
		           <form action="" method="post">
		            {% csrf_token %}
		            {% for error in form.non_field_errors %}
		                <div class="alert alert-danger">
		                    <small>{{error}}</small>
		                </div>
		            {% endfor %}
		            <fieldset>
						{% for field in form %}
							<div class="form-group
								{% if field.errors %} has-error {% endif %}">
								{% render_field field class="form-control py-2 mb-2" placeholder=field.label%}
								{% for error in field.errors %}
									<span class="help-block form-control">{{ error }}</span>
								{% endfor %}
							</div>
						{% endfor %}

						<div class="text-center">
							<button class="btn btn-primary text-white rounded-pill py-2 w-100" 	type="submit">
								ENTRAR
							</button>
							<div class="mt-3"><a href=""
								   class="text-muted small ml-2">Esqueceu a senha ?</a>
							</div>
						</div>
		            </fieldset>
		        </form>
		    </div>
		</div>
	</div>
</div>
{% endblock %}
