{% extends 'base/index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content_index %}
<div class="container-fluid bg-light p-0">
    <div class="row vh-100 justify-content-md-center mx-auto">
		<div class="col-12 col-md-3 p-0 my-auto" >
			<div class="card shadow pt-3">
				{% include 'registration/header_logo.html' %}
				<div class="card-body">
					<div class="text-post">
						<form action="" method="post">
							{% csrf_token %}
							{% for error in form.non_field_errors %}
								<div class="alert alert-danger">
									<small>{{error}}</small>
								</div>
							{% endfor %}
							<fieldset>
								{% for field in form %}
									<div class="form-group
										{% if field.errors %} has-error {% endif %}">
										{% render_field field class="form-control py-2 mb-3" placeholder=field.label%}
										{% for error in field.errors %}
											<span class="help-block form-control">{{ error }}</span>
										{% endfor %}
									</div>
								{% endfor %}

								<div class="text-center">
									<button class="btn btn-primary text-white rounded-pill py-2 w-100" 	type="submit">
										ENTRAR
									</button>
									<div class="mt-3"><a href=""
										class="text-muted small ml-2">Esqueceu a senha ?</a>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>		
{% endblock %}
