{% extends 'base/index.html' %}
{% load static %}
{% block content_index %}
<div class="container-fluid bg-light p-0">
    <div class="row vh-100 justify-content-md-center mx-auto">
        <div class="col-12 col-md-4 p-0 my-auto">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                {% include 'registration/header_logo.html' %}
                <div class="card-body">
                    <div class="text-post text-center">
                        <h2 class="text-center">E-mail de redefinição enviado</h2>
                        <p class="text-muted">
                            Se o e-mail fornecido estiver correto, você receberá um link para redefinir sua senha em breve.
                        </p>
                        <div class="text-center">
                            <a href="{% url 'account:login' %}" class="btn btn-primary text-white rounded py-2 w-100">
                                <span class="fw-bold">Voltar para o login</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
