{% extends 'base/index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content_index %}
<div class="container-fluid bg-light p-0">
    <div class="row vh-100 justify-content-md-center mx-auto">
        <div class="col-12 col-md-4 p-0 my-auto">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                {% include 'registration/header_logo.html' %}
                <div class="card-body">
                    <div class="text-post">
                        <h2 class="text-center">Redefinir sua senha</h2>
                        <p class="text-center text-muted">
                            Por favor, insira o endereço de e-mail associado à sua conta. Você receberá um link para redefinir sua senha por e-mail.
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                            <fieldset>
                                <div class="form-group{% if form.email.errors %} has-error {% endif %}">
                                    {% render_field form.email class="form-control py-2 mb-3" placeholder="E-mail" %}
                                    {% for error in form.email.errors %}
                                        <span class="help-block form-control">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary text-white rounded py-2 w-100 mb-2" type="submit">
                                        <span class="fw-bold">Enviar e-mail de redefinição</span>
                                    </button>
                                    <a class="btn btn-success text-white rounded py-2 w-100" type="button">
                                      <span class="fw-bold">Voltar ao Login</span>
                                    </a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
