{% extends 'base/index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content_index %}
<div class="container-fluid bg-light p-0">
    <div class="row vh-100 justify-content-md-center mx-auto">
        <div class="col-12 col-md-4 p-0 my-auto">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                {% include 'registration/header_logo.html' %}
                <div class="card-body">
                    <div class="text-post">
                        <h2 class="text-center">Redefinir sua senha</h2>
                        <form method="post">
                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <small>{{ error }}</small>
                                </div>
                            {% endfor %}
                            <fieldset>
                                {% for field in form %}
                                    <div class="form-group{% if field.errors %} has-error {% endif %}">
                                        {% render_field field class="form-control py-2 mb-3" placeholder=field.label %}
                                        {% for error in field.errors %}
                                            <span class="help-block form-control">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <div class="text-center">
                                    <button class="btn btn-primary text-white rounded py-2 w-100" type="submit">
                                        <span class="fw-bold">Alterar senha</span>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
