{% extends 'base/index.html' %}
{% load static %}
{% block content_index %}
<div class="container-fluid bg-light p-0">
    <div class="row vh-100 justify-content-md-center mx-auto">
        <div class="col-12 col-md-4 p-0 my-auto">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                {% include 'registration/header_logo.html' %}
                <div class="card-body">
                    <div class="text-post text-center">
                        <div class="h3 text-center">Senha redefinida com sucesso</div>
                        <p class="text-muted">
                            Sua senha foi alterada com sucesso. Você agora pode <a href="{% url 'account:login' %}" class="fw-bold">fazer login</a> com sua nova senha.
                        </p>
                        <div class="text-center">
                            <a href="{% url 'account:login' %}" class="btn btn-primary text-white rounded py-2 w-100">
                                <span class="fw-bold">Voltar para o login</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
