{% extends 'base/home.html' %}

{% block content_area %}
<div class="container overflow-scroll" style="overflow-y: auto; max-height: 90vh; scrollbar-width: none">
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href=""
            target="__blank">Perfil</a>
    </nav>
    <hr class="mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'accounts/profile_image_form.html' %}
            </div>
            <div class="col-sm-9">
                <form method="post">
                    {% csrf_token %}
                    <div class="card mb-4">
                        <div class="card-header">
                            Detalhes do Perfil
                            <div class="float-end">
                                <a class="btn btn-sm btn-secondary" id="editButton" role="button"
                                    onclick="toggleEditMode()">Editar</a>
                                <a class="btn btn-sm btn-secondary me-1 cancelButton" onclick="toggleEditMode()"
                                    type="reset" style="display: none;">Cancelar</a>
                                <button class="btn btn-sm btn-success float-end saveButton" type="submit" style="display: none;">Salvar</button>
                            </div>
                        </div>
                        <div class="card-body">

                            {{ form.hidden_tag }}
                            <div class="row gx-3 mb-3">
                                <div class="col-md-9">
                                    <label class="small mb-1" for="name">{{ form.name.label }}</label>
                                    {{ form.name }}
                                </div>
                                <div class="col-md-3">
                                    <label class="small mb-1" for="username">{{ form.username.label }}</label>
                                    {{ form.username }}
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="email">{{ form.email.label }}</label>
                                {{ form.email }}
                            </div>
                            {% comment %} <button class="btn btn-lg btn-primary cancelButton" onclick="toggleEditMode()" type="reset" style="display: none;">Cancelar</button>
                            <button class="btn btn-lg btn-success saveButton" type="submit" style="display: none;">Salvar</button> {% endcomment %}

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleEditMode() {
        var goEditMode = document.getElementById('editButton').style.display !== 'none';
        var formElements = document.querySelectorAll('.form-control');
    
        formElements.forEach(function (element) {
            element.disabled = !goEditMode;
        });
    
        document.getElementById('editButton').style.display = goEditMode ? 'none' : 'inline';
        document.querySelectorAll('.cancelButton').forEach(function (element) {
            element.style.display = goEditMode ? 'inline' : 'none';
        });
        document.querySelectorAll('.saveButton').forEach(function (element) {
            element.style.display = goEditMode ? 'inline' : 'none';
        });
    }
    
</script>    
{% endblock %}
