{% extends 'based/home.html' %}
{% load thumbnail %}
{% load widget_tweaks %}
{% block content_area %}

<div class="row">
	<div class="col-md- col-12 mt-5">
	<div class="row mb-4">
		<div class="col-md-2 text-right">
			<img class="rounded-circle" src="{{ user.profile.avatar|thumbnail_url:'user_logado_md' }}"/>
		</div>
		<div class="col-md-5 my-md-auto">
			<div class="h4 font-weight-light ml-3">{{ user.get_two_name|capfirst }}</div>
			<div class="h5 text-muted font-weight-light ml-3">{{ user.username }}</div>

		</div>
	</div>
	<form action="" method="post">
		{% csrf_token %}
		<fieldset>
			{% for field in form %}
			<div class="form-group {% if field.error %} has-error {% endif %}">
				<div class="row">
				    <div class="col-md-2 text-right font-weight-bold">
						<label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
				    </div>

					<div class="col-md-5">
						{% render_field field class="form-control" %}
						{% for error in field.errors %}
							<span class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="form-group">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-5">
						<button type="submit" class="btn-sm btn-primary rounded-pill p-2"> SALVAR SENHA</button>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
	</div>
</div>
{% endblock %}