{% extends 'registration/layout_login.html' %}
{% load widget_tweaks %}
{% load static %}
{% block access %}

<div class="col-12 col-md-4 my-auto">
	{% include 'accounts/header_logo.html' %}
	{% if success %}
		<div class="card shadow-sm custom-rounded p-3 text-center">
			<div class="lead text-muted">Sucesso! Sua nova senha foi criada.</div>
			<div class="lead text-muted">Você já pode retornar a RHFlow</div>
			<div class="lead mt-5">
				<a class="lead" href="{% url 'accounts:login' %}">Clique aqui e faça <strong>LOGIN</strong>
					novamente.</a>
			</div>
		</div>
	{% else %}
	<div class="card shadow">
		<div class="card-body">
			<div class="h4 text-left mb-4">Informe sua Nova Senha</div>
				<form action="" method="post">
					{% csrf_token %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger">
							{{error}}
						</div>
					{% endfor %}
					<fieldset>
						<div class="form-group{%if form.errors %} has-error {% endif %}">
						   {% for field in form %}
							  {% for error in field.errors %}
							   <span class="help-block text-danger">
									 {{error}}</span>
							  {% endfor %}
							  {% render_field field class="form-control mb-3" placeholder=field.label %}
						   {% endfor %}
							<button class="btn btn-primary rounded-pill w-100" type="submit">
								ENVIAR
							</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}