{% extends 'registration/layout_login.html' %}
{% load static %}
{% block access %}
<div class="col-12 col-md-4 my-auto">
<div class="card shadow pt-3">
{% include 'accounts/header_logo.html' %}
<div class="card-body">
    <div class="lead font-weight-bolder">Recuperar senha
		<div class="login-sub-titulo mb-3">Já possui registro?
			<a class="text-success" href="{% url 'accounts:login' %}" class="login-link text-dark">
				Clique aqui</a></div>
	</div>
	{% if success %}
		<p>Um e-mail foi enviado para você com mais detalhes de como criar uma nova senha</p>
	{% endif %}
    <form  class="text-center" method="post">
		{% csrf_token %}
		<fieldset>
			{{ form.non_field_erros }}
			{% for field in form %}
			<div class="form-group">
				<input class="form-control" type="email" name="email"
					   id="email" placeholder="Digite seu Email">
				<div class="text-decoration-none text-left">{{ field.errors }}</div>
			</div>
			{% endfor %}
			 <button class="btn btn-primary rounded-pill w-100" type="submit">
				RECUPERAR ACESSO
			</button>
		</fieldset>
    </form>
</div>
</div>
</div>
{% endblock %}
