    {% load static %}
    <div class="card mb-4 mb-xl-0">
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#profilePictureModal">
                Atualizar Foto
            </button>
            {% include 'accounts/modalProfileImageUpload.html' %}
        </div>
        <div class="card-body text-center">
            <img class="img-account-profile rounded-4 mb-1"
                src="{% static 'img/default_avatar.png' %}" alt=""
                style="width: 150px; height: auto;">
        </div>
    </div>