{% extends 'base/home.html' %}
{% block content_area %}
<div class="container pt-4">
    <div class="card text-dark bg-light mb-3">
        <div class="h5 card-header fw-bold">Empresas Relacionadas ao Gestor Atual</div>
        <div class="card-body p-4">
            <form method="post" id="selecionarEmpresaForm">
                {% csrf_token %}
                <ul class="list-unstyled">
                    {% for empresa in empresas %}
                    <li class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="empresa_selecionada" id="empresa_{{ empresa.id }}" value="{{ empresa.id }}" data-nome="{{ empresa.nome_fantasia }}">
                            <label class="form-check-label" for="empresa_{{ empresa.id }}">
                                {{ empresa.nome_fantasia.capitalize }}
                            </label>
                        </div>
                    </li>
                    {% empty %}
                    <li>Você não está associado a nenhuma empresa.</li>
                    {% endfor %}
                </ul>
                <button type="button" id="selecionarEmpresaBtn" class="btn btn-primary btn-sm fw-bold mt-3">Selecionar Empresa</button>
                <a type="button" class="btn btn-secondary btn-sm fw-bold mt-3" href="{% url 'base:home' %}">Cancelar</a>
                
            </form>
        </div>
    </div>
</div>

<script>
    function verificarEmpresaSelecionada() {
        const empresaSelecionada = localStorage.getItem('empresaSelecionada');
        if (empresaSelecionada) {
            const empresa = JSON.parse(empresaSelecionada);
            const radioEmpresa = document.getElementById(`empresa_${empresa.id}`);
            if (radioEmpresa) {
                radioEmpresa.checked = true;
            }
        }
    }

    document.addEventListener('DOMContentLoaded', verificarEmpresaSelecionada);
    
    document.getElementById('selecionarEmpresaBtn').addEventListener('click', function(event) {
        const empresaSelecionada = document.querySelector('input[name="empresa_selecionada"]:checked');

        if (empresaSelecionada) {
            const idEmpresa = empresaSelecionada.value;
            const nomeEmpresa = empresaSelecionada.getAttribute('data-nome');
            
            const empresa = {
                id: idEmpresa,
                nome: nomeEmpresa
            };
            
            localStorage.setItem('empresaSelecionada', JSON.stringify(empresa));
            location.reload();

        } else {
            alert("Por favor, selecione uma empresa.");
        }
    });
</script>
{% endblock %}
